/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/*Asthetics wildcard selector to override default styles added by browsers*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*gneric project style*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525;
}

/*Header*/
header{
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
/*navbar styles*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle styles*/
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}
/*When nav is shown, change the menu icon to X*/

/*Main content*/
main{
    /*make main take all available space to push footer to the bottom*/
    flex: 1 0 auto;
    margin-top: 47px;
}
/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}
#cover-text {
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding: 40px;
    padding-left: 10px;
}
#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    margin-bottom: 10px;
}
/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media query: tablets and larger (768px) and up*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }
    #menu li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem 0 0;
    }

    /*Main content*/
    main {
        margin-top: 79px;
    }
    /*Hero section*/
    #cover-text {
        width: 300px;
        right: 50px;
}
}
/*Media query: large devices laptops and desktops (992px and up)*/
@media screen and (min-width: 992px) {

    /* Hover state matches active styling */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}